<!--COMPONENTE DE NOSOTROS / INFO DE HORIZON-->

<div id="infonosotros" >
    <div id="nosotros" class="">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-3"><strong>HORIZON</strong></h1>
          <p class="lead">HORIZON nace como respuesta a la necesidad actual de gestionar la propiedad horizontal, agilizando tareas y actividades
            tanto de residentes como propietatios entorno a su comunidad, facilitando la interacción entre los miembros. 
          </p>   
          <div class="card-group">
            <div id="mision" class="card">
              <div class="card-body">
                <h5 class="card-title"> <br> <br> Misión</h5>
                <p class="card-text"> Brindar servicios para facilitar la comunicación de los conjuntos residenciales, 
                  centralizando la información y agilizando tareas. <br><br>
                </p>
              </div>
            </div>
            <div id="vision" class="card">
              <div class="card-body">
                <h5 class="card-title"><br> <br> Visión</h5>
                <p class="card-text">Convertirnos en un sistema de información reconocido, siemore enfocándonos en las
                  necesidades actuales y crecientes de nuestros clientes. <br><br>
                </p>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>   
  </div>