
<div class="container" id="pqrs">

    <div  class="jumbotron jumbotron-fluid">
        <div  >
          <h6 class="display-4"  class="col-12 col-xl-8 h2 text-left text-primary pt-3">Registra tus PQRS</h6>
          <p class="lead">Por favor diligencia los siguientes datos para poder crear tu PQRS, lo antes posible un mienbro 
            del staff se comunicará contigo.
          </p>
    
          <div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre Completo</label>
                <input type="text" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Dirección de tu unidad</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Telefóno*</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Tipo de PQRS</label>
                <select id="inputState" class="form-control">
                  <option selected>Elige una opción...</option>
                  <option>Petición</option>
                  <option>Queja</option>
                  <option>Reclamo</option>
                  <option>Sugerencia</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputAddress">Observaciones</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Escribe con detalle tu PQRS">
              </div>
              <br>
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Adjunta un archivo</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>

</div>

