<div class="container" id="normatividad">

    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4" class="col-12 col-xl-8 h2 text-left text-primary pt-3">Normatividad</h1>
      <p class="lead">Es importante que como comunidad podamos convivir de manera respetuosa e integral. A continuación 
        se encuentra las principales normas de HORIZON, por favor leélas y da cumplimiento como parte de nuestra familia. 
      </p>
      <hr class="my-4">
      <p>Para visualizar las principales normas y valores del manual de convivencia, da clic sobre el botón Leer. <br>
      Si quieres acceder a toda la información del Manual de Convivencia, da clic sobre el borón Descargar</p>

      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Leer
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">

          <ul>
            <li><strong> Regla 1:</strong>  con su naturaleza y destinación en la forma prevista en el Reglamento de Propiedad Horizontal y
              el presente Manual de Convivencia, absteniéndose de ejecutar acto alguno que comprometa la
              seguridad o solidez del Conjunto, producir ruidos, molestias y actos que perturben la tranquilidad
              de los demás propietarios u ocupantes o afecten la salud pública. </li>
            <li><strong> Regla 2:</strong> Ejecutar de inmediato las reparaciones en sus bienes privados, incluidas las redes de servicios
              públicos ubicadas dentro del bien privado, cuya omisión pueda ocasionar perjuicios al Conjunto
              o a los bienes que la integran, resarciendo los daños que ocasione por su descuido o el de las
              personas por las que deba responder. </li>
            <li><strong> Regla 3:</strong> Respetar la integridad física y moral y la intimidad personal de los copropietarios, miembros de
              los órganos directivos y del personal que presta servicios al conjunto tales como guardas de
              seguridad y personal de limpieza.</li>
            <li><strong> Regla 4:</strong> Contribuir oportuna y cumplidamente al pago de las expensas necesarias causadas por la
              administración y la prestación de servicios comunes esenciales para la existencia, seguridad y conservación de los bienes comunes esenciales de acuerdo con lo previsto en el Reglamento de
              propiedad horizontal.</li>
            <li><strong> Regla 5:</strong> Comunicar al Administrador todo caso de enfermedad infecciosa y desinfectar su bien de
              dominio privado conforme las exigencias de las autoridades de higiene. </li>
            <li><strong> Regla 6:</strong> Solicitar autorización escrita del administrador cuando vayan a efectuar trasteo o mudanza,
              indicando el día y hora del trasteo, para lo cual deberá estar a paz y salvo por todo concepto con
              la administración.</li>
            <li><strong> Regla 7:</strong> Asistir y participar en las Asambleas Generales. Una vez citada la asamblea con el lleno de los
              requisitos, la no asistencia o participación en ellas, o el retiro sin delegación escrita, podrán ser
              objeto de sanción con multas impuestas a criterio de la Asamblea General.</li>
            <li><strong> Regla 8:</strong> La tenencia de animales domésticos se sujetará a las normas que en este sentido dicte el
              Consejo de Administración y las que se encuentran previstas en el Código de Policía en los
              artículos 108 y siguientes, las cuales son de obligatorio cumplimiento. En todo caso, el
              propietario, poseedor o tenedor de unidades privadas que tenga animales domésticos habitando
              en la copropiedad deberá procurar que estos no causen daños a las personas o bienes de la
              copropiedad, respondiendo por todo daño causado. Deberá pasearlos con los elementos de
              seguridad que indique el reglamento que dicte del Consejo de Administración para evitar que
              ocasionen daños a la integridad física de las personas o de otros animales. Además, deberá
              mantener las zonas comunes aseadas y libres de excrementos que produzcan los animales que
              estén bajo su custodia, debiendo recogerlos de inmediato si tal situación acaece.</li>
            <li><strong> Regla 9:</strong> Ejercer el debido cuidado de sus hijos menores de edad. Todo menor de doce (12) años de
              edad debe contar con autorización escrita y/o telefónica para salir del conjunto residencial sin la
              compañía de un adulto.</li>
            <li><strong> Regla 10:</strong> Permitir la revisión del baúl del carro, maletas, cajas tanto al ingreso como a la salida del
              conjunto residencial.</li>
          </ul>

        </div>
      </div> 
      <button type="button" class="btn btn-secondary">Descargar</button>

    </div>

  </div>